<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Angular-intro :: Introduction to AngularJS</title>

		<meta name="description" content="introduction to ANgularJS for the Adept/Intermediate at programming">
		<meta name="author" content="Rhett Lowe">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
		<link rel="stylesheet" href="css/slideStyles.css" id="theme-add">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides" ng-app="slides">
                <section id="opening">
                    <section>
                        <img class="logo" src="images/angularjs-large.png" />
                        <h3>More Dynamic - Less Work</h3>
                    </section>
                    <section>
                		<!-- founder -->
                	</section>
                	<section>
                		<!-- released -->
                	</section>
                	<section>
                		<!-- number of people and sites -->
                	</section>
                    <section>
                        <!-- Quick blurb about MVC -->
                    </section>
                </section>

                <section id="the-view">
                    <section>
                        <h1>MVC: The View</h1>
                    </section>
                    <section>
                        <h2>In AngularJS the View:</h2>
                        <ul>
                            <li>Is a First Class Citizen!</li>
                            <li>Controls where data goes</li>
                            <li>Controls User-Interactivity</li>
                            <li>Dictates the Final State of the Data</li>
                        </ul>
                    </section>
                    <section class="take-out">
                        <h2>AngularJS View vs. jQuery View</h2>
                        <p>
                            <strong>jQuery:</strong>
                            HTML/View is an anchor point so jQuery can insert DOM as it sees fit
                        </p>
                    </section>
                    <section>
                        <h2 ng-non-bindable>Hello {{ who }}</h2>
                        <div ng-app>
                            Hello {{ who }}!<br /><br />
                            <input ng-model="who" type="text"/>
                        </div>
                    </section>
                    <section>
                        <h2>How it works</h2>
                        <pre ng-non-bindable><code data-trim>
<div ng-app>
    Hello {{ who }}!<br /><br />
    <input ng-model="who" type="text"/>
</div>
                        </code></pre>
                    </section>
                    <section>
                        <h2>Introducing</h2>
                        <ul>
                            <li title="Initializes application and tells AngularJS what is its DOM">ng-app</li>
                            <li title="For templates and binding; can also have math and multiple statements" ng-non-bindable>{{ expression }}</li>
                            <li title="links the input to the $scope for 2 way binding">ng-model</li>
                            <li title="See next slide">$scope</li>
                        </ul>
                    </section>
                    <section>
                        <h2><pre class="inline"><code data-trim>$scope</code></pre></pro></h2>
                        <ul>
                            <li title="Handles all the dirty linking we don't wanna think about">Abstraction Layer</li>
                            <li title="Un-initialized items receive a `null` value => equates to '' in string">
                                <pre class="inline"><code data-trim>null</code></pre>
                                default
                            </li>
                            <li title="Anything set on the $scope will be displayed in the DOM. Anything changed in the DOM will be reciprocated in the $scope Object">2-way binding</li>
                        </ul>
                    </section>
                </section>

                <section id="the-view-2" ng-app>
                    <section>
                        <h1>MVC: The View</h1>
                        <h2>Part 2</h2>
                    </section>
                    <section>
                        <h2>Hello World</h2>
                        <div>
                            List the people you want to say hello to:<br /><br />
                            <input ng-list ng-model="who" type="text"/> <br />
                            <ul>
                                <li ng-repeat="person in who">
                                    Hello {{person}}!
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section>
                        <h2>How it works</h2>
                        <pre ng-non-bindable><code data-trim>
<div ng-app>
    List the people you want to say hello to:<br /><br />
    <input ng-list ng-model="who" type="text"/> <br />
    <ul>
        <li ng-repeat="person in who">
            Hello {{person}}!
        </li>
    </ul>
</div>
                        </code></pre>
                    </section>
                    <section>
                        <h2>Introducing</h2>
                        <ul>
                            <li title="takes a comma separated list of text and makes into an array; also trims and reduces blanks">ng-list</li>
                            <li title="makes a for loop of any array or object">ng-repeat</li>
                            <li title="ng-repeat uses the 'in' syntax; if person is a primitive or object">person in who</li>
                        </ul>
                    </section>
                    <section>
                        <h2>How many is that?</h2>
                        <p>You said hello to {{ who.length }} people</p>
                        <p>You said hello to <ng-pluralize count="who.length || 0"
                                when="{'0': 'nobody?!?!',
                                        'one': '1 person.',
                                        'other': '{} people!'}"></ng-pluralize></p>
                        <input ng-model="who" type="text" ng-list/>
                    </section>
                    <section>
                        <h2>Great but minor splendors</h2>
                        <pre ng-non-bindable><code data-trim>
<p>You said hello to {{ who.length }} people</p>
<p>
    You said hello to
    <ng-pluralize count="who.length || 0" when="{'0': 'nobody?!?!',
                            'one': '1 person.',
                            'other': '{} people!'}"></ng-pluralize>
</p>
<input ng-model="who" type="text" ng-list/>
                        </code></pre>
                        <ul>
                            <li title="This time, notice there are no blanks and trims are perfect">ng-list</li>
                            <li title="this is not a new variable, it is using Array.length built into JS" ng-non-bindable>{{ who.length }}</li>
                            <li title="if the first one says '1 people' it looks weird, so this is to help fix the issue.">ngPluralize</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Trim the fat ...</h2>
                        <div ng-init="people = [
                                    {name:'Rhett'},
                                    {name:'Ali'},
                                    {name:'Ray'},
                                    {name:'Maria'},
                                    {name:'Jannah'},
                                    {name:'David'}
                                    ]">
                            Only These people:<br /><br />
                            <input ng-model="trimm" type="text"/><br />
                            <ul>
                                <li ng-repeat="person in people | filter:trimm">
                                    Hello {{person.name}}!
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section>
                        <h2>How it works</h2>
                        <pre ng-non-bindable><code data-trim>
<div ng-init="people = [
        {name:'Rhett'},
        {name:'Ali'},
        {name:'Ray'},
        {name:'Maria'},
        {name:'Jannah'},
        {name:'David'}
        ]">
    Only These people:<br /><br />
    <input ng-model="trimm" type="text"/><br />
    <ul>
        <li ng-repeat="person in people | filter:trimm">
            Hello {{person.name}}!
        </li>
    </ul>
</div>
                        </code></pre>
                    </section>
                    <section>
                        <h2>Introducing</h2>
                        <ul>
                            <li title="performs an expression upon loading that DOM node">ng-init</li>
                            <li title="| works like in linux; the output of the previous statement is passed into the input of the next.">
                                | (pipe)
                                <ul>
                                    <li title="shows only text that matches">filter</li>
                                    <li title="converts int or float into numerical currency with all necessary punctuation">currency</li>
                                    <li title="formats unix timestamp into date based on format string">date</li>
                                    <li title="orders based on given attribute in Asc or Desc order">orderBy</li>
                                    <li title="many more">Etc...</li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </section>


                <section id="the-view-3">
                    <section>
                        <h1>MVC: The View</h1>
                        <h2>Part 3</h2>
                    </section>
                    <section>
                        <h2>Clicks are declarative</h2>
                        <h3>Counter: {{ counter }}</h3>
                        <span ng-click="counter = 0">&lt;span&gt;Reset&lt;/span&gt;</span><br />
                        <a ng-click="counter = counter + 1">&lt;a&gt;+1&lt;/a&gt;</a><br />
                        <button ng-click="counter = counter + 5">&lt;button&gt;+5&lt;/button&gt;</button>
                    </section>
                    <section>
                        <h2>How it works</h2>
                        <pre ng-non-bindable="$ng-non-bindable$"><code data-trim="$data-trim$">
<h3>Counter: {{ counter }}</h3>
<span ng-click="counter = 0">Reset</span><br />
<a ng-click="counter = counter + 1">+1</a><br />
<button ng-click="counter = counter + 5">+5</button>
                        </code></pre>
                    </section>
                    <section>
                        <h2>Introducing ng-click</h2>
                        <ul>
                            <li>
                                <pre class="inline"><code>ng-click="myFunc(variable)"</code></pre>
                            </li>
                            <li>
                                <pre class="inline"><code>ng-click="variable = variable + 1"</code></pre>
                            </li>
                            <li>
                                <pre class="inline"><code>ng-click="variable = variable + 1; myFunc(variable)"</code></pre>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h2>Other directives</h2>
                        <ul>
                            <li>ngClass</li>
                            <li>ngShow / ngHide</li>
                            <li>ngSrc</li>
                            <li>ngFocus</li>
                        </ul>
                        <ul>
                            <li>ngHref</li>
                            <li>ngSwitch</li>
                            <li>ngCloak</li>
                            <li>ngBlur</li>
                        </ul>
                    </section>
                </section>


                <section id="the-controller">
                    <section>
                        <h1>MVC: The Controller</h1>
                    </section>
                    <section>
                        <h2>ng-controller</h2>
                        <pre ng-non-bindable><code data-trim class="">
<div ng-controller="myAppCtrl">
    {{ variable }}
</div>
                        </code></pre>
                        <pre ng-non-bindable><code data-trim class="javascript">
var myAppCtrl = function($scope){
    $scope.variable = 'Anything I want';
};
                        </code></pre>
                    </section>
                </section>
                <section id="ng-app">
                    <section>
                        <h1>The Application</h1>
                        <h2>Putting it all together</h2>
                    </section>
                </section>
                <section id="directives">
                    <section>
                        <h1>Directives</h1>
                        <h2>Extending HTML</h2>
                    </section>
                </section>
                <section id="providers">
                    <section>
                        <h1>MVC: The Model</h1>
                        <h2>Providers</h2>
                    </section>
                </section>
                <section id="roles">
                    <section>
                        <h1>Roles</h1>
                        <h2>How it is all supposed to work together</h2>
                    </section>
                </section>

                <section id="closing"></section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="app/application.js"></script>

        <script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				]
			});

		</script>

	</body>
</html>
